In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import math

In [4]:
df = pd.read_csv('data_electric_car_charge.csv')
df.head()

,sessionId,kwhTotal,dollars,created,ended,startTime,endTime,chargeTimeHrs,weekday,platform,...,managerVehicle,facilityType,Mon,Tues,Wed,Thurs,Fri,Sat,Sun,reportedZip
0,1366563,7.78,0.00,0014-11-18 15:40:26,0014-11-18 17:11:04,15,17,1.510556,Tue,android,...,0,3,0,1,0,0,0,0,0,0
1,3075723,9.74,0.00,0014-11-19 17:40:26,0014-11-19 19:51:04,17,19,2.177222,Wed,android,...,0,3,0,0,1,0,0,0,0,0
2,4228788,6.76,0.58,0014-11-21 12:05:46,0014-11-21 16:46:04,12,16,4.671667,Fri,android,...,0,3,0,0,0,0,1,0,0,0
3,3173284,6.17,0.00,0014-12-03 19:16:12,0014-12-03 21:02:18,19,21,1.768333,Wed,android,...,0,3,0,0,1,0,0,0,0,0
4,3266500,0.93,0.00,0014-12-11 20:56:11,0014-12-11 21:14:06,20,21,0.298611,Thu,android,...,0,3,0,0,0,1,0,0,0,0

### DATA CLEANING

* Drop 'mon'-'sun' columns
* Rename 'weekdays' to 'day'  
____
  
* Drop 'created' & 'ended'
* Round values of 'chargeTimeHrs' to two decimals
* Rename 'chargeTimeHrs' to 'Charge Time'  
____
  
* Drop all null/zeros from 'dollars' to make average of 'dollars' aka:charge cost
* Rename 'dollars' column to 'cost ($)'  
____

* Rename 'facilityType' values to corresponding facility type
* Create new column 'Facility Type' with facility names + 'Facility Code' with the numerical code

In [9]:
df.value_counts("facilityType")

facilityType
3    1832
2     862
1     593
4     108
Name: count, dtype: int64

In [ ]:
import pandas as pd

labels = ['R&D','Office','Manufacturing','Others']
values = [1832, 862, 593, 108]

In [19]:
facilities = {'Facility Type': ['Manufacturing', 'Office', 'R&D', 'Others'],
        'Frequentation': [593, 862, 1832, 108],
        'Facility Code' : ['1','2','3','4']}

df_facilities = pd.DataFrame(facilities)

df_facilities

   Facility Type  Frequentation Facility Code
0  Manufacturing            593             1
1         Office            862             2
2            R&D           1832             3
3         Others            108             4

In [8]:
df.value_counts("managerVehicle")

managerVehicle
1    2022
0    1373
Name: count, dtype: int64

In [6]:
df.value_counts("weekday")

weekday
Thu    735
Wed    713
Tue    635
Mon    616
Fri    610
Sat     62
Sun     24
Name: count, dtype: int64