In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import math

In [10]:
df = pd.read_csv('electric_cars_clean_data.csv', sep=',')
df

,Unnamed: 0,sessionId,kwhTotal,dollars,startTime,endTime,Charge Duration (h),Day,platform,distance,userId,stationId,locationId,managerVehicle,facilityType,Facility Type
0,0,1366563,7.78,0.00,15,17,1.51,Tue,android,NaN,35897499,582873,461655,0,3,R&D
1,1,3075723,9.74,0.00,17,19,2.18,Wed,android,NaN,35897499,549414,461655,0,3,R&D
2,2,4228788,6.76,0.58,12,16,4.67,Fri,android,NaN,35897499,129465,461655,0,3,R&D
3,3,3173284,6.17,0.00,19,21,1.77,Wed,android,NaN,35897499,569889,461655,0,3,R&D
4,4,3266500,0.93,0.00,20,21,0.30,Thu,android,NaN,35897499,414088,566549,0,3,R&D
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3390,3390,7021565,6.74,0.00,16,19,3.46,Thu,ios,13.352643,59574735,884707,648339,0,2,Office
3391,3391,3758092,6.86,0.00,16,19,2.97,Fri,ios,13.352643,59574735,884707,648339,0,2,Office
3392,3392,5858374,6.07,0.00,16,20,3.50,Wed,android,2.337085,32070852,638536,868085,0,3,R&D
3393,3393,2586645,5.74,0.00,11,13,2.20,Thu,ios,4.671064,58023207,818217,700367,1,2,Office
3394,3394,7860608,6.95,0.00,16,19,2.98,Thu,ios,3.308334,26098875,664306,868085,0,3,R&D

In [14]:
df = df.drop(columns='Unnamed: 0')

## DATA ANALYSIS ANGLES
_____
### Per session

* Average charge duration per session

* Average charge duration per session according to week day (7 charts)

* Average charge cost per session

* Average charge power consumption per session  
_____

### Per day / time

* Average number of charge sessions per week day (7 chars)

* Average time of charging sessions per week day (7 chars)

* Average charge start time according to day

* Average end charge time according to day
_______

### Per location

* Frequency of use of a specific charging location according to userId => hist

* Frequency of use of a specific charging location over time => line chart

* Distribution stationId according to locationId => radar chart ?

_____
### Overall

* Average time of charging overall

* Repartition of plateform used (Ios, Android, Other) on overall charge sessions => pie chart

* Fluctuation of energy consumption on the period (data description says period = ) !!